body {

}
#agronegocio  {
    width:100%;
}

.principal{
    background: #cccccc;
    padding: 30px;
}

h1 {
    text-aling: center
}
em strong{
    color: #ff0000;
}
.itens {
    font-style:italic
}
 h2 {
    text-aling: center;
}
ul {
    display: inline-block;
    vertical-align: top;
    width::20%;
    margin-right: 15%;
}
.agricultura {
    width: 50%;
}